/*Fuente*/
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$fonts: "Lexend",
Helvetica;

//Paleta
$acento: #f44b12;
$bg-dark: #2b282a;
$bg-secundario: #403b3e;
$font: #f2f2f2;
$font-secundario: #ffffff;

$input-bg-alt: #e2e2e2;
$button-press: #b63a11;

$materia-pasada: #2dd82d;
$check-hover: #8af18a;
$materia-actual: #5fa1f8;
$ojo-hover: #92c1ff;
// $materia-disponible: #b212fc;

$popup-bg: #000000AA;
$cerrar-popup: #ff2e2e;

$borrar-comment: #fa2e2e;

//colores de redes
$twitter: #1DA1F2;
$instagram: #fbad50;
$mail: #0F9D58;

//colores de editar trimeste
$fas-color: #1d80f2;