/*Fuente*/
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap");
$fonts: "Lexend",
Helvetica;

//Paleta
$acento: #f44b12;
$bg-dark: #2b282a;
$bg-secundario: #403b3e;
$font: #f2f2f2;
$font-secundario: #ffffff;

$input-bg-alt: #e2e2e2;
$button-press: #b63a11;

$materia-pasada: #2dd82d;
$materia-actual: #0066ff;
$materia-disponible: #b212fc;

$popup-bg: #000000AA;
$cerrar-popup: #ff2e2e;

//colores de redes
$twitter: #1DA1F2;
$instagram: #fbad50;
$mail: #DB4437;